.storybook-text {
  font-weight: 300;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.storybook-text--primary {
  /* tbd */
}
.storybook-text--secondary {
  /* tbd */
}
.storybook-text--small {
  font-size: 12px;
}
.storybook-text--medium {
  font-size: 14px;
}
.storybook-text--large {
  font-size: 16px;
}
